/* web name */
.web_name {
  width: auto;
  font-size: 75px;
  color: rgba(62, 22, 99, 0.377);
  font-family: Cambria, Georgia;
  margin-left: 10px;
  text-align: unset;
  } 

  /* END */
 
/* page name */ 
.page_name {
  color: rgb(85, 79, 167);
  font-family: Cambria, Georgia;
  font-size: 40px;
  margin-left: 0px;
  margin: none;
 }
 @media only screen and (max-width: 1600px){
  .page_name {
    font-size: 45px;
    margin-left: 5px;
    }
}
@media only screen and (max-width: 1028px){
  .page_name {
    font-size: 45px;
    margin-left: 5px;
    }
}
@media only screen and (max-width: 810px){
  .page_name {
    font-size: 45px;
    margin-left: 5px;
    }
}
@media only screen and (max-width: 450px){
  .page_name {
    font-size: 20px;
    margin-left: 5px;
    }
}

/* END */
 
    /* buttons*/
#page_links {
  text-decoration: none;
  color: rgba(33, 63, 231, 0.705);
  font-family: Cambria, Georgia;
  font-size: 30px;
  width: initial;
  margin-left: 10px;
  border-style: double;
  border-width: 2px;
  border-color: rgba(77, 4, 77, 0.603);
  text-align: start
}
.button {
  background: rgb(136, 172, 224);
  background: linear-gradient(0deg, rgba(209, 224, 247, 0.774) 0%, rgba(145, 185, 245, 0.774) 100%);
  min-width: 20px;
  min-height: 10px;
  line-height: none;
  padding: 0;
  border: none;
  font-family: Cambria, Georgia;
  color: rgb( 54, 117, 136);
  font-size: 24px;
  margin-left: 10px;
  margin-right: 0px;
  font-weight: bold;
  width: fit-content
}
@media only screen and (max-width: 1600px){
  #page_links {
    font-size: 30px;
    margin-left: 10px;
    border-style: double;
    border-width: 2px;
    border-color: rgba(77, 4, 77, 0.603);
    max-width: 750px
  }
  
  .button {
    min-width: 20px;
    min-height: 10px;
    width: fit-content;
  }
}
@media only screen and (max-width: 1028px){
  #page_links {
    font-size: 30px;
    margin-left: 10px;
    border-style: double;
    border-width: 2px;
    border-color: rgba(77, 4, 77, 0.603);
  }
  
  .button {
    min-width: 20px;
    min-height: 10px;
    width: fit-content;
  }
}
@media only screen and (max-width: 810px){
  #page_links {
    font-size: 30px;
    margin-left: 10px;
    border-style: double;
    border-width: 2px;
    border-color: rgba(77, 4, 77, 0.603)
  }
  
  .button {
    min-width: 20px;
    min-height: 10px;
    width: fit-content;
  }
}
@media only screen and (max-width: 450px){
  #page_links {
    display: flex;
    font-size: 20px;
    width: none
  }
  
  .button {
    font-size: 14px;
  }
}
/* END */
 
/* header style */
#header {
      background-color: rgba(213, 235, 241, 0.582);
      border-style: solid;
      border-color: cornflowerblue;
      border-width: 2px;
}
/* END */
 
/* basic webpage requirements */
  p, 
  li {
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, serif;
    margin-left: 10px;
    margin-right: 10px;
  }
   
   
  a {
    text-decoration: none;
    
    color: rgb( 54, 117, 136);
  }

  body {
    background-color: rgba(211, 211, 211);
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: rgb(44, 44, 44);
    margin:auto;
    max-width: unjust;
    text-align: justify;
  }
/* END */