
    .website_name {
      width: 30px;
      margin-left: 50px;
    }
  
    .project-card{
      width: 17em;
    }
  
    .welcome{
      height: 50vh;
      }
  
    .nav-item{
      width: 100%;
    }
  
   .about-overflow{
     padding-right: 10px;
     padding-left: 5px;
     flex-flow: column nowrap;
     align-content: center;
     align-items: center;
     justify-items: space-around;
   }