
      
   
.web_name {
    width: auto;
    font-size: 95px;
    color: rgba(62, 22, 99, 0.377);
    font-family: Cambria, Georgia;
    margin-left: 50px;
    }
.page_name {
    color: rgb(85, 79, 167);
    font-family: Cambria, Georgia;
    font-size: 40px;
    margin-left: 50px;
    margin: none;
   }

  #header {
        background-color: rgba(213, 235, 241, 0.582);
        border-style: solid;
        border-color: cornflowerblue;
        border-width: 2px;
  }

  #page_links {
    text-decoration: none;
    color: rgba(33, 63, 231, 0.705);
    font-family: Cambria, Georgia;
    font-size: 30px;
    width: initial;
    margin-left: 10px;
    border-style: double;
    border-width: 2px;
    border-color: rgba(77, 4, 77, 0.603);
  }
  
  .button {
    background: rgb(136, 172, 224);
    background: linear-gradient(0deg, rgba(209, 224, 247, 0.774) 0%, rgba(145, 185, 245, 0.774) 100%);
    min-width: 20px;
    min-height: 10px;
    line-height: none;
    padding: 0;
    border: none;
    font-family: Cambria, Georgia;
    color: rgb( 54, 117, 136);
    font-size: 24px;
    margin-left: 10px;
    margin-right: 0px;
    font-weight: bold;
  }

  #methodology_and_information_button {
    width: 360px;
  }
  #urban_stories_button {
    width: 210px;
  }

  body {
    background-color: rgba(211, 211, 211);
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: rgb(44, 44, 44);
    max-width: unset;
    text-align: justify;
    margin: unset;
  }