    
.web_name {
  width: auto;
  font-size: 75px;
  color: rgba(62, 22, 99, 0.377);
  font-family: Cambria, Georgia;
  margin-left: 10px;
  text-align: unset;
  } 
 
.page_name {
  color: rgb(85, 79, 167);
  font-family: Cambria, Georgia;
  font-size: 40px;
  margin-left: 0px;
  margin: none;
 }

#page_links {
  text-decoration: none;
  color: rgba(33, 63, 231, 0.705);
  font-family: Cambria, Georgia;
  font-size: 30px;
  width: initial;
  margin-left: 10px;
  border-style: double;
  border-width: 2px;
  border-color: rgba(77, 4, 77, 0.603);
}

.button {
  background: rgb(136, 172, 224);
  background: linear-gradient(0deg, rgba(209, 224, 247, 0.774) 0%, rgba(145, 185, 245, 0.774) 100%);
  min-width: 20px;
  min-height: 10px;
  line-height: none;
  padding: 0;
  border: none;
  font-family: Cambria, Georgia;
  color: rgb( 54, 117, 136);
  font-size: 24px;
  margin-left: 10px;
  margin-right: 0px;
  font-weight: bold;
}

#methodology_and_information_button {
  width: 300px;
}
#urban_stories_button {
  width: 170px;
}

#header {
    background-color: rgba(213, 235, 241, 0.582);
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 2px;
    }
   
  p, 
  li {
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, serif;
  }
   
   
  a {
    text-decoration: none;
    color: rgb( 54, 117, 136);
    font-family: Cambria, Georgia;
    font-size: none;
  }

  .chart_head {
      font-weight: bold;
      color: rgb(44, 44, 44);
      font-size: 16px;
      font-family: Cambria, Georgia;
  }
  body {
    background-color: rgba(211, 211, 211);
    font-family: Cambria, Georgia;
    font-size: 16px;
    color: rgb(44, 44, 44);
    margin:auto;
    max-width: unset;
    text-align: justify;
  }
  .chart_head_project {
    font-family: Cambria, Georgia;
    font-size: 16px;
    color: rgb(53, 90, 84);
    max-width: 330px;
    text-align: justify;
    font-weight: bold;

  }
  .head_plus_chart {
    border-style: dashed;
    border-width: 1.5px;
  }
  .writeup {
    border-style: dashed;
    border-width: 1.5px;
  }
  .chartbutton {
    background-color: rgb (188, 220, 219);
    margin-left: 5px;
    margin-right: 2px
  }
  .sub_instruction {
    font-family: Cambria, Georgia;
    font-size: 12px;
    color: rgb(53, 90, 84);
    max-width: 330px;
    text-align: justify;
    font-style: oblique;
    font-weight: unset;

  }
  .buttonlist {
    margin-left: 5px;
    text-align: left
  }
  .topictitle {
    background-color: rgb(165, 191, 211);
    font-size: 70px;
    color: rgba(93, 51, 167, 0.425);
    text-align: center;
    border-style: dashed;
    border-radius: 10px;
    font-family: Cambria, Georgia;
  }
  .brk {
    display: inline-block;
  }

  @media only screen and (max-width: 809px){
    .page_name {
      color: rgb(85, 79, 167);
      font-family: Cambria, Georgia;
      font-size: 20px;
      margin-left: 0px;
      margin: none;
     }
    
    #page_links {
      text-decoration: none;
      display: flex;
      color: rgba(33, 63, 231, 0.705);
      font-family: Cambria, Georgia;
      font-size: 20px;
      width: 360px;
      margin-left: 5px;
      border-style: double;
      border-width: 2px;
      border-color: rgba(77, 4, 77, 0.603)
    }
    
    .button {
      background: rgb(136, 172, 224);
      background: linear-gradient(0deg, rgba(209, 224, 247, 0.774) 0%, rgba(145, 185, 245, 0.774) 100%);
      min-width: 20px;
      min-height: 10px;
      line-height: none;
      padding: 0;
      border: none;
      font-family: Cambria, Georgia;
      color: rgb( 54, 117, 136);
      font-size: 14px;
      margin-left: 10px;
      margin-right: 0px;
      font-weight: bold
    }
    
    #methodology_and_information_button {
      width: 90px;
      word-break: break-all;
    }
    #urban_stories_button {
      width: 50px;
      word-break: break-all;
    }
    .topictitle {
      font-size: 55px
    }
    .grid_items{
      grid-template-columns: 100%;
      max-width: 420px;
      padding: 0 5 0 5; 
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      text-align: center
    }
    .grid_items > div {
      padding: 5px;
      background-color: rgb(228, 228, 228)
    }
    #head_plus_chartp1 {
      grid-column: 1;
      grid-row: 1
    }
    
    #head_plus_chartp2 {
      grid-column: 1;
      grid-row: 2;
      background-color: rgba(204, 202, 240, 0.466)
    }

    #head_plus_chartp2mdr {
      grid-column: 1;
      grid-row: 3;
      background-color: rgba(204, 202, 240, 0.466)
    }

    #head_plus_chartp2ldc {
      grid-column: 1;
      grid-row: 4;
      background-color: rgba(204, 202, 240, 0.466)
    }

    #head_plus_chartp3 {
      grid-column: 1;
      grid-row: 5
    }

    #head_plus_chartp4 {
      grid-column: 1;
      grid-row: 6
    }
    #head_plus_chartp5 {
      grid-column: 1;
      grid-row: 7
    }

    #head_plus_chartp6 {
      grid-column: 1;
      grid-row: 8
    }

    #head_plus_chartp7 {
      grid-column: 1;
      grid-row: 9
    }
  }
  @media only screen and (min-width: 810px){
    .page_name {
      color: rgb(85, 79, 167);
      font-family: Cambria, Georgia;
      font-size: 45px;
      margin-left: 5px;
      margin: none;
     }
    
    #page_links {
      text-decoration: none;
      display: flex;
      color: rgba(33, 63, 231, 0.705);
      font-family: Cambria, Georgia;
      font-size: 24px;
      width: 790px;
      margin-left: 5px;
      border-style: double;
      border-width: 2px;
      border-color: rgba(77, 4, 77, 0.603);
    }
    
    .button {
      background: rgb(136, 172, 224);
      background: linear-gradient(0deg, rgba(209, 224, 247, 0.774) 0%, rgba(145, 185, 245, 0.774) 100%);
      min-width: 20px;
      min-height: 10px;
      line-height: none;
      padding: 0;
      border: none;
      font-family: Cambria, Georgia;
      color: rgb( 54, 117, 136);
      font-size: 24px;
      margin-left: 10px;
      margin-right: 0px;
      font-weight: bold;
    }
    
    #methodology_and_information_button {
      width: 300px;
      word-break: break-all;
    }
    #urban_stories_button {
      width: 160px;
      word-break: break-all;
    }

    .grid_items{
      grid-template-columns: 100%;
      max-width: 420px;
      padding: 0 5 0 5; 
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      text-align: center
    }
    .grid_items > div {
      padding: 5px;
      background-color: rgb(228, 228, 228)
    }
    #head_plus_chartp1 {
      grid-column: 1;
      grid-row: 1
    }
    
    #head_plus_chartp2 {
      grid-column: 1;
      grid-row: 2;
      background-color: rgba(204, 202, 240, 0.466)
    }

    #head_plus_chartp2mdr {
      grid-column: 2;
      grid-row: 2;
      background-color: rgba(204, 202, 240, 0.466)
    }

    #head_plus_chartp2ldc {
      grid-column: 3;
      grid-row: 2;
      background-color: rgba(204, 202, 240, 0.466)
    }

    #head_plus_chartp3 {
      grid-column: 1;
      grid-row: 3
    }

    #head_plus_chartp4 {
      grid-column: 1;
      grid-row: 4
    }
    #head_plus_chartp5 {
      grid-column: 1;
      grid-row: 5
    }

    #head_plus_chartp6 {
      grid-column: 1;
      grid-row: 6
    }

    #head_plus_chartp7 {
      grid-column: 1;
      grid-row: 7
    }
  }
  @media only screen and (min-width: 875px){
    .web_name {
      width: auto;
      font-size: 75px;
      color: rgba(62, 22, 99, 0.377);
      font-family: Cambria, Georgia;
      margin-left: 10px;
      text-align: unset;
      } 
     
    .page_name {
      color: rgb(85, 79, 167);
      font-family: Cambria, Georgia;
      font-size: 40px;
      margin-left: 0px;
      margin: none;
     }
    
    #page_links {
      text-decoration: none;
      color: rgba(33, 63, 231, 0.705);
      font-family: Cambria, Georgia;
      font-size: 30px;
      width: initial;
      margin-left: 10px;
      border-style: double;
      border-width: 2px;
      border-color: rgba(77, 4, 77, 0.603);
    }
    
    .button {
      background: rgb(136, 172, 224);
      background: linear-gradient(0deg, rgba(209, 224, 247, 0.774) 0%, rgba(145, 185, 245, 0.774) 100%);
      min-width: 20px;
      min-height: 10px;
      line-height: none;
      padding: 0;
      border: none;
      font-family: Cambria, Georgia;
      color: rgb( 54, 117, 136);
      font-size: 24px;
      margin-left: 10px;
      margin-right: 0px;
      font-weight: bold;
    }
    
    #methodology_and_information_button {
      width: 300px;
    }
    #urban_stories_button {
      width: 170px;
    }
    
    
    #header {
          background-color: rgba(213, 235, 241, 0.582);
          border-style: solid;
          border-color: cornflowerblue;
          border-width: 2px;
    }
       
      p, 
      li {
        font-size: 18px;
        font-family:Cambria, Cochin, Georgia, serif;
        margin-left: 10px;
        margin-right: 10px;
      }
       
       
      a {
        text-decoration: none;
        
        color: rgb( 54, 117, 136);
      }
    
      body {
        background-color: rgba(211, 211, 211);
        font-family: Verdana, sans-serif;
        font-size: 16px;
        color: rgb(44, 44, 44);
        margin:auto;
        max-width: unjust;
        text-align: justify;
      }

      .grid_items{
        grid-template-columns: 100%;
        max-width: 420px;
        padding: 0 5 0 5; 
        grid-column-gap: 10px;
        grid-row-gap: 40px;
        text-align: center;
        display: grid
      }
      .grid_items > div {
        padding: 5px
      }
      #head_plus_chartp1 {
        grid-column: 1;
        grid-row: 1
      }
      
      #head_plus_chartp2 {
        grid-column: 1;
        grid-row: 3
      }

      #head_plus_chartp2mdr {
        grid-column: 1;
        grid-row: 4
      }
  
      #head_plus_chartp2ldc {
        grid-column: 2;
        grid-row: 4
      }

      #head_plus_chartp3 {
        grid-column: 1;
        grid-row: 6
      }

      #head_plus_chartp4 {
        grid-column: 1;
        grid-row: 8
      }
      #head_plus_chartp5 {
        grid-column: 1;
        grid-row: 10
      }

      #head_plus_chartp6 {
        grid-column: 2;
        grid-row: 12
      }

      #head_plus_chartp7 {
        grid-column: 1;
        grid-row: 14
      }

      #writeup1a {
        grid-column: 2;
        grid-row: 1
      }
      #writeup1b {
        grid-column: 2;
        grid-row: 2
      }
      #writeup2a {
        grid-column: 2;
        grid-row: 3
      }
      #writeup2b {
        grid-column: 1;
        grid-row: 5
      }
      #writeup3a {
        grid-column: 2;
        grid-row: 6
      }
      #writeup3b {
        grid-column: 1;
        grid-row: 7
      }
      #writeup4a {
        grid-column: 2;
        grid-row: 8
      }
      #writeup4b {
        grid-column: 2;
        grid-row: 9
      }
      #writeup5a {
        grid-column: 2;
        grid-row: 10
      }
      #writeup5b {
        grid-column: 2;
        grid-row: 11
      }
      #writeup6a {
        grid-column: 1;
        grid-row: 12
      }
      #writeup6b {
        grid-column: 2;
        grid-row: 13
      }
      #writeup7a {
        grid-column: 2;
        grid-row: 14
      }
      #writeup7b {
        grid-column: 2;
        grid-row: 15
      }

  }



  @media only screen and (min-width: 1260px){
    .web_name {
      width: auto;
      font-size: 75px;
      color: rgba(62, 22, 99, 0.377);
      font-family: Cambria, Georgia;
      margin-left: 10px;
      text-align: unset;
      } 
     
    .page_name {
      color: rgb(85, 79, 167);
      font-family: Cambria, Georgia;
      font-size: 40px;
      margin-left: 0px;
      margin: none;
     }
    
    #page_links {
      text-decoration: none;
      color: rgba(33, 63, 231, 0.705);
      font-family: Cambria, Georgia;
      font-size: 30px;
      width: initial;
      margin-left: 10px;
      border-style: double;
      border-width: 2px;
      border-color: rgba(77, 4, 77, 0.603);
    }
    
    .button {
      background: rgb(136, 172, 224);
      background: linear-gradient(0deg, rgba(209, 224, 247, 0.774) 0%, rgba(145, 185, 245, 0.774) 100%);
      min-width: 20px;
      min-height: 10px;
      line-height: none;
      padding: 0;
      border: none;
      font-family: Cambria, Georgia;
      color: rgb( 54, 117, 136);
      font-size: 24px;
      margin-left: 10px;
      margin-right: 0px;
      font-weight: bold;
    }
    
    #methodology_and_information_button {
      width: 300px;
    }
    #urban_stories_button {
      width: 170px;
    }
    
    #header {
        background-color: rgba(213, 235, 241, 0.582);
        border-style: solid;
        border-color: cornflowerblue;
        border-width: 2px;
        }
       
      p, 
      li {
        font-size: 18px;
        font-family:Cambria, Cochin, Georgia, serif;
      }
       
       
      a {
        text-decoration: none;
        color: rgb( 54, 117, 136);
        font-family: Cambria, Georgia;
        font-size: none;
      }
    
      .chart_head {
          font-weight: bold;
          color: rgb(44, 44, 44);
          font-size: 16px;
          font-family: Cambria, Georgia;
      }
      body {
        background-color: rgba(211, 211, 211);
        font-family: Cambria, Georgia;
        font-size: 16px;
        color: rgb(44, 44, 44);
        margin:auto;
        max-width: unset;
        text-align: justify;
      }

      .grid_items {
        padding: 2px;
        padding: 0 5 0 5;
        margin: 0 auto 0 auto;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
        align-items: center;
        grid-column-gap: 1px;
        margin-left: 0px
      }
      .grid_items > div {
        padding: 5px;
        border-radius: 10px;
        margin:auto;
        align-items: center;
        width: 400px;
      }

      #head_plus_chartp1 {
        grid-column: 2;
        grid-row: 1
      }

      #head_plus_chartp2 {
        grid-column: 1;
        grid-row: 2;
        background-color: rgba(204, 202, 240, 0.466)
      }

      #head_plus_chartp2mdr {
        grid-column: 2;
        grid-row: 2;
        background-color: rgba(204, 202, 240, 0.466)
      }
  
      #head_plus_chartp2ldc {
        grid-column: 3;
        grid-row: 2;
        background-color: rgba(204, 202, 240, 0.466)
      }

      #head_plus_chartp3 {
        grid-column: 1;
        grid-row: 4
      }

      #head_plus_chartp4 {
        grid-column: 3;
        grid-row: 5
      }
      #head_plus_chartp5 {
        grid-column: 2;
        grid-row: 6
      }

      #head_plus_chartp6 {
        grid-column: 3;
        grid-row: 7
      }

      #head_plus_chartp7 {
        grid-column: 2;
        grid-row: 8
      }
      #writeup1a {
        grid-column: 1;
        grid-row: 1
      }
      #writeup1b {
        grid-column: 3;
        grid-row: 1
      }
      #writeup2a {
        grid-column: 1;
        grid-row: 4
      }
      #writeup2b {
        grid-column: 3;
        grid-row: 4
      }
      #writeup3a {
        grid-column: 2;
        grid-row: 4
      }
      #writeup3b {
        grid-column: 3;
        grid-row: 4
      }
      #writeup4a {
        grid-column: 1;
        grid-row: 5
      }
      #writeup4b {
        grid-column: 2;
        grid-row: 5
      }
      #writeup5a {
        grid-column: 1;
        grid-row: 6
      }
      #writeup5b {
        grid-column: 3;
        grid-row: 6
      }
      #writeup6a {
        grid-column: 1;
        grid-row: 7
      }
      #writeup6b {
        grid-column: 2;
        grid-row: 7
      }
      #writeup7a {
        grid-column: 1;
        grid-row: 8
      }
      #writeup7b {
        grid-column: 3;
        grid-row: 8
      }
  }

  @media only screen and (min-width: 1650px){
    .grid_items {
      padding: 2px;
      padding: 0 5 0 5;
      margin: 0 auto 0 auto;
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 100%;
      grid-row-gap: 20px;
      align-items: center;
      grid-column-gap: 100px;
      margin-left: 275px
    }
    .grid_items > div {
      background-color: rgb(228, 228, 228);
      padding: 5px;
      border-radius: 10px;
      margin:auto;
      align-items: center;
      width: 400px;
    }
  }