    
.web_name {
  width: auto;
  font-size: 75px;
  color: rgba(62, 22, 99, 0.377);
  font-family: Cambria, Georgia;
  margin-left: 10px;
  text-align: unset;
  } 

.page_name {
  color: rgb(85, 79, 167);
  font-family: Cambria, Georgia;
  font-size: 40px;
  margin-left: 15px;
  margin: none;
  }

  .button {
    background: rgb(136, 172, 224);
    background: linear-gradient(0deg, rgba(209, 224, 247, 0.774) 0%, rgba(145, 185, 245, 0.774) 100%);
    min-width: 20px;
    min-height: 10px;
    line-height: none;
    padding: 0;
    border: none;
    font-family: Cambria, Georgia;
    color: rgb( 54, 117, 136);
    font-size: 24px;
    margin-left: 10px;
    margin-right: 0px;
    font-weight: bold;
  }
  
  #methodology_and_information_button {
    width: 300px;
  }
  #urban_stories_button {
    width: 170px;
  }

#header {
    background-color: rgba(213, 235, 241, 0.582);
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 2px;
    }
   
  p, 
  li {
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, serif;
  }
   
   
  a {
    text-decoration: none;
    color: rgb( 54, 117, 136);
    font-family: Cambria, Georgia;
    font-size: 16px;
  }

  .chart_head {
      font-weight: bold;
      color: rgb(44, 44, 44);
      font-size: 16px;
      font-family: Cambria, Georgia;
  }
  body {
    background-color: rgba(211, 211, 211);
    font-family: Cambria, Georgia;
    font-size: 16px;
    color: rgb(44, 44, 44);
    margin:auto;
    max-width: unset;
    text-align: justify;
  }
